<footer>
    <div class="contenedor">
        <div class="direccion">
            <h5>¿DÓNDE ESTAMOS?</h5>
            <p><b>Corrientes Capital</b><br>Junin 1648 -CORRIENTES CAPITAL-<br>
            <p>Teléfono: 3624720453</p>
            </p>
            <br>
            <p><b>Resistencia -Casa Central-</b><br>santiago del estero 414 -Resistencia -Chaco<br>
            <p>Teléfono: 3624661814 </p>
            </p>
            <br>
            <p><b>Resistencia -MA</b><br>San Buenaventura del Monte Alto 187<br>
            <p>Teléfono: 3624720452</p>
            </p>
        </div>

        <div class="newsletter">
            <h5>NEWSLETTER</h5>
            <p>Recibí ofertas en tu email</p>
            <form action="/registro" method="post">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre">
                <br>
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email">
                <br>
                <button class="botonNewsletter" type="submint"> Suscribirse </button>
            </form>
        </div>
    </div>
    <script src="/FontTech/public/js/home.js"></script>"
</footer>