<header>
    <div class="contenedor">
        <img src="../img/Logo.png" alt="">
        <input type="checkbox" id="menu-bar">
        <label class="fas fa-bars" for="menu-bar"></label>

        <nav class="menu">
            <a href="/products">Productos</a>
            <a href="">Sucursales</a>
            <a href="">Contacto</a>
            <a href="">Empresa</a>
        </nav>
        <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>

        <!-- INICIO POPUP LOGIN-->

        <a href="#modal"><i class="fas fa-user"></i></a>
        <!-- <div class="full"> -->
        <div class="container-all centrado" id="modal">

            <div class="contenedor-text">

                <!-- <div id="social-login"> -->
                <h1>Iniciar Sesión con...</h1>
                <!-- </div> -->
                <div class="social-login-elemento">
                    <div>
                        <img src="../img/google.svg" alt="">
                        <span>Google</span>
                    </div>
                    <div>
                        <img src="../img/facebook.svg" alt="">
                        <span>Facebook</span>
                    </div>
                </div>
            </div>

            <div class="formulario">
                <form class="inputs-container">
                    <p>O</p>
                    <input class="mail" type="email" placeholder="E-mail">
                    <input class="password" type="password" placeholder="Contaseña">
                </form>
                <button class="btn-login">Login</button>
            </div>
            <div class="columna">
                <a href="#">
                    <p>¿Olvidaste tu contraseña? </p>
                </a>
                <!-- <button class="btn-click">Hace click aca</button> -->
            </div>
            <div class="columna">
                <a href="/registro">
                    <p>¿Aún no tenes cuenta? </p>
                </a>
                <!-- <button class="btn-crea-tu-cuenta"><a href='registro'>Crea tu cuenta</a></button> -->
            </div>
            <a href="#" class="btn-close-popup">X</a>
        </div>
        <!-- </div> -->
    </div>
    </div>
    <!--   FIN POPUP -->
</header>