.contenedor-carrito{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 80px;
    
}
.prueba2{
    width: 100%;
}
.contenedor-carrito h1{
  
    text-align: left;
    font-size: 20px;
    background: #B2BABB;
    width: 100%;
}
.seccion1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 10px;


}
.seccion1-2{
    display: flex;
    flex-direction: column;
    line-height: 20px;
    font-size: 15px;
    align-items: flex-start;
    font-family: sans-serif;
    margin: 15px;
  
    
}
.seccion1 img{
    width: 30%;
}

.seccion2{
  
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    
}
.seccion2 input{
    text-align: center;
    border-radius: 6px;
   margin-left: 15%; 
    
}

.seccion2 p {
    margin-right: 15px;
}
.seccion3{
    margin-bottom: 30px;
}
.seccion4 {
    margin-top: 20px;
    background: #D5DBDB;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 2px;
}
.seccion4 p{
    margin-right: 15px;
}
.seccion4-1{
    background: #B2BABB;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px;
    
}
.seccion4-1 input{
    width: 50px;
   
}
.seccion4-1 span{
margin-right: 10px;   
}
.seccion4-1 p{
    margin-left: 5px;
}
.seccion4-2{
    background: #D5DBDB;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 2px;
}
.seccion4-2 p{
    margin-right: 15px;
}
.seccion4-3{
    background: #B2BABB;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px;
    
}
.seccion4-3 span{
    margin-right: 10px;
}
.seccion4-3 input{
    margin-left: -21px;
        width: 50px;
}
.seccion4-3 p{
    margin-left: 5px;
}
.seccion4-4{
    width: 100%;
    display: flex;
    background: #D5DBDB;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    margin: 2px;
    
}
.seccion4-4 p{
    margin-right: 15px;
}

.contenedor-carrito button{
    padding: 10px;
    border-radius: 20px;
    font-family: 'viga';
    font-size: 15px;
    cursor: pointer;
}
.contenedor-carrito button:hover{
  color: rgb(82, 126, 126);

    
}

@media screen and (min-width: 768px){
    .seccion1-2{
    font-size: 25px;
    margin-left: 80px;
    line-height: 40px;
   
    }
    .seccion1-2 p{
        line-height: 25px;
        margin-left: 10px;
    }

    .seccion1 img {
        margin-right: 40px;
    }
    .seccion2{
        height: 60px;
    }
    .seccion2 input{
        height: 40px;
        width: 50px;
        margin-left: 20%;
        font-size: 20px;
    }
    .seccion2 p{
        margin-right: 60px;
        font-size: 25px;
    }

    .contenedor-carrito{
        font-size: 25px;
    }

}

@media screen and (min-width: 1024px){
    .contenedor-carrito{
        margin-bottom: -30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 100px;
        
    }
    .seccion1 img{
        width: 50%;
        padding: 30px;
    }
    .seccion1, .seccion2{
        justify-content: space-between;
        width: 100%;
        
        
    }
    .prueba{
        display: flex;
        flex-direction: column;
        width: 65%;
        align-content: flex-start;
    }
    .prueba2{
        width: 35%;
        margin-top: 50px;
    }
    
    .seccion1-2{
        margin-left: 10px;
    }
   
    .seccion2 input{
        margin-left: 80px;

    }
    .seccion3{
        text-align: right;
        margin-right: 60px;
    }
    .seccion3 button{
        width: 50%;

    }
    .seccion4, .seccion4-1, .seccion4-2, .seccion4-3,.seccion4-4, .seccion4-5{
        width: 90%;
        font-size: 15px;
        margin-left: 40px;
        margin-top: 15px;
}
    .seccion4-5 button {
        width: 100%;
    }

}