.container-all-centrado{
   
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputs-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.social-login-elemento{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-login-elemento a{
    text-decoration: none;
    color: black
}

.formularioL input{
    border-radius: 5px;
        padding: 10px;
        margin: 5px;
}

@media screen and (min-width: 768px){
    .formularioL input{
      width: 350px;
       
    }
    .container-all-centrado{
   
        width: 100vw;
        height: 95vh;

}
 }

@media screen and (max-width: 426px){

  .formularioInput{
      width: 100%;
  }
    .error{
        width: 100px;
    } 
    .formularioInputError{
        width: 250px;
        text-align: center;
        align-items: center;
    }
    .container-all-centrado{
   
        
        height: 125vh;
 } }