#menu-bar{
    display: none;
}

.menu{
    z-index: 10;
   position: absolute;
   left: 0;
   width: 100%;
   height: 0px;
   /* background: rgba(51,51,51,0.9); */
   transition: all 0.5s;
   transform: translate(+100%) 
   ;
   margin-top: 60px;
}

.menu a{
   
    font-weight: bold;
    background: #ebeff3;
    display: block;
    color: rgba(11, 64, 107) ;
    height: 50px;
    text-decoration: none;
    text-align: center;
    padding: 5px;
/*     border-bottom: 1px solid rgba(31, 21, 21, 0.5);
 */}
.menu a:hover{
    background: rgb(152, 219, 247);
    color: rgba(11, 64, 107);;
    
}
 #menu-bar:checked ~ .menu{
    transform: translate(0%) ;


} 


@media (min-width: 1024px) {
  .fa-bars{
      display: none;
  }   
  .menu{
      position: static;
      width: auto;
      height: auto;
      transform: translateX(0%);
      float:right;
      display: flex;
      margin-top:0;
  }
  .menu a{
    background-color: #ebeff3;
    height: 50px;
    color: rgba(11, 64, 107);
    text-decoration: none;
    text-align: center;
    justify-content: center;
    padding: 15px;
}
.menuA{
    line-height: 40px;
    display: inline-block;
    margin-block: 20px;
    text-decoration: none;
    color: #ebeff3;
    position: relative;
}
.menuA::after{
    content: '';
    width: 100%;
    height: 5px;
    background-color: rgba(11, 64, 107);
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease;
}
.menuA:hover::after{
    transform: scaleX(1);
}
}



