.full{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: 800px;
    height: 500px;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-open-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background: white;
    padding: 20px 50px;
    border-radius: 50px;
}

#social-login{
    font-size: 10px;
    text-align: center;
}


.social-login-elemento{
    display: flex;
    justify-content: space-evenly;
    
   
    
}
.inputs-container p{
    text-align: center;
    font-size: 15px;
}



.mail, .password {
    max-width: 80%;
    display: flex;
    padding: 10px;
    margin-top: 5px;
    margin-left: 10%;
    justify-content: space-around;
   
   
}
.btn-login{
    /* margin-left: 30%; */
    font-size: 15px;
    font-family: "viga", sans-serif;
    width: 100px;
    margin-top: 5px;
}
.btn-click{
    
    font-size: 15px;
    font-family: "viga", sans-serif;
    width: 100px;
}
.btn-crea-tu-cuenta{
    font-size: 13px;
    font-family: "viga", sans-serif;
    width: 100px;

}

.container-all{
    width: 90%;
    height: 75%;
    position: fixed;
    padding: 40px;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
}

.centrado{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.container-all:target{
    background: rgba(0,0,0,0.8);
    visibility: visible;
    opacity: 1;
}

.container-all:target .popup{
    top: 50%;
    left: 50%;
    height: auto;
    transform: rotate(0deg) translate(-50%, -50%);
    visibility: visible;
}

.popup{
    width: 100%;
    max-width: 800px;
    height: 500px;
    position: relative;
    display: flex;
    background: white;
    color: black;
    visibility: hidden;
    top: -80%;
    left: -80%;
    transform: rotate(90deg) translate(-150%, 230%);
    transition: all 600ms;
}

.container-text{
    width: 60%;
    padding: 50px;
    overflow-y: auto;
}


.container-text h1{
    font-size: 30px;
}

.btn-close-popup{
    width: 40px;
    height: 40px;
    position: absolute;
    right: -20px;
    top: -20px;
    padding: 15px;
    background: black;
    color: white;
    border-radius: 50%;
    line-height: 8px;
}

@media screen and (min-width: 768px){
    .popup{
        flex-direction: column;
        height: 100%;
        max-height: 800px;
    }

    .inputs-container { 
        display: flex;
        flex-direction: column;
    }
    
    .container-text{
        width: 100%;
        height: 60%;
        padding: 80px;
    }
    .mail, .password {
        width: 60%;
       
        margin-left: 20%;

     }
    .container-all{
        
            height: 100%;
       
       
    }
    .btn-login{
        margin-left: 40%;
        margin-top: 10px;
    }
 
    

}

