.contenedor-producto {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 60px;
}
.escritorio{
  width: 50%;
  padding: 30px;
}
.pagos h5 {
  width: 100%;
  background-color: rgb(11, 64, 107, 0.89);
  color: #ebeff3;
}
/* .producto-imgs {
  display: flex;
  flex-direction: column;

} */

.img-principal img {
  width: 100%;
  border: 3px solid rgb(11, 64, 107, 0.30);
  padding: 30px;
}

.btnEditar{
  display: flex;
  justify-content: space-evenly;
}
.descripcion-producto {
  font-size: 20px;
  line-height: 30px;
}

.descripcion-producto {
  width: 100%;
  margin-bottom: 15px;
  background: #ebeff3;
}
.descripcion-producto h2 {
  margin-bottom: 25px;
  text-align: center;
}
.descripcion-producto p {
  
  text-align: center;
}
.pagos {
  text-align: center;
  background-color: #f5f5f5;
}
.pagos img {
  width: 100%;
}

.btn-producto{
  text-align: center;
  margin-top: 20px;
}



@media (max-width: 425px) {
    .contenedor-producto{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
   .escritorio{
     width: 100%;
     padding: 20px;
   }

/*   .img-principal img{
    
  } */
  /* .contenedor-producto {
    margin-top: 88px;
    font-size: 30px;
  }
  .contenedor-producto button {
    font-size: 30px;
    width: 50%;
  }
  .descripcion-producto {
    padding: 30px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
    background: rgb(183, 185, 181);
  }
  
  .pagos {
    margin-top: 30px;
  }
  .pagos img {
    margin-top: 30px;
  } */
} 

 