.container-products-wrapper{
    width: 60%;
    margin-left: 20%;
    background: rgb(152, 219, 247);
    margin-top: 20px;
    margin-bottom: 20px;
}
.products-title{
    font-size: 15px;
}
 .col-12{
    display: flex;
    align-items: center;
    flex-direction: column;
} 

.container-products-wrapper input{
    width: 350px;}

.col-12 textarea{
    height: 80px;
    width: 350px;
    

}

.col-12 select {
        width: 90px;
      
        margin-bottom: 10px;
}
.col-12 option{
    text-align: center;
}



@media (max-width: 768px){
.container-products-wrapper{
    width: 90%;
    margin-left: 5%;
}
.container-products-wrapper input{
    width: 250px;}

    .col-12 textarea{
        height: 70px;
        width: 250px;
        
    
    }
}
