.formulario-registro{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.formularioR input{
    padding: 10px;
    margin: 5px;
   
}

.social-login-elemento img{
    margin-left: 20px;
    
} 

.btn-crea{
    /* margin-left: 30%; */
    font-size: 15px;
    font-family: "viga", sans-serif;
    width: 150px;
    margin-top: 5px;
}
.error{
    color: white;
    background-color: rgba(0, 0, 0, 0.63);
    font-size: 15px;
    border: dotted 3px rgba(255, 0, 0, 0.671);
    
}


@media screen and (min-width: 768px){
    .formularioR input{
      width: 350px;
       
    }
    .error{
        width: 350px;
    }

}