<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %>

    <body>
        <%- include ('./partials/header.ejs') %>
            <main>
                <div class="contenedor-carrito">
                    <h1>MI CARRITO</h1>
                    <div class="prueba">
                        <div class="seccion1">
                            <!-- DESCRIPCIÖN Y FOTO -->
                            <div class="seccion1-2">
                                <h3>Notebook Acer</h3>
                                <p>• Procesador: I5</p>
                                <p>• Memoria: 1Tb</p>
                                <p>• Precio: $$$$$$</p>
                            </div>

                            <img src="../img/not acer.png" alt="">
                        </div>

                        <div class="seccion2">
                            <!-- CANTIDAD Y TOTAL -->
                            <input type="number" min="1" max="5" value="1">
                            <p>TOTAL: $$$$$$</p>
                        </div>

                        <div class="seccion3">
                            <!-- BOTON SEGUIR COMPRANDO -->
                            <button> Seguir comprando <i class="fas fa-cart-arrow-down"></i></button>
                        </div>
                    </div>
                    <div class="prueba2">
                        <div class="seccion4">

                            <p>TOTAL: $$$$$$</p>
                        </div>

                        <div class="seccion4-1">
                            <p>ENVIO:</p>
                            <span><input type="search" placeholder="C.P:"> <i class="fas fa-search-location"></i></span>
                        </div>
                        <div class="seccion4-2">
                            <p>Retiro en sucursal: <input type="checkbox"></p>
                        </div>
                        <div class="seccion4-3">
                            <p>Cupón:</p>
                            <span> <input type="number"><i class="fas fa-check"></i></span>
                        </div>
                        <div class="seccion4-4">
                            <p>TOTAL A PAGAR:</p>
                            <p>$$$$$$</p>
                        </div>
                        <div class="seccion4-5">
                            <button> Finalizar Compra <i class="fas fa-check"></i></button>
                        </div>

                    </div>
                </div>

            </main>

            <%- include ('./partials/footer.ejs') %>
                </main>
    </body>

</html>