<!DOCTYPE html>

<%- include ('./partials/head.ejs') %>

<body>
    <%- include ('./partials/header.ejs') %>
    <main>
        <div id="slider">
            <figure>
                <img src="../img/banner.jpg">
                <img src="../img/DGHelp_Banner_HP-01-1.jpg">
                <img src="../img/banner.jpg">
                <img src="../img/DGHelp_Banner_Lenovo-01-3.jpg">
                <img src="../img/banner.jpg">
            </figure>
        </div>
    </main>
    <%- include ('./partials/footer.ejs') %>
</body>

</html>