<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %>

    <body>
        <%- include ('./partials/header.ejs') %>
            <main>
                <div class="contenedor-producto">
                    <div class="escritorio">
                        <div class="h3">
                            <h3>Descripción del producto</h3>
                        </div>
                        <div class="producto-imgs">
                            <div class="img-principal">
                                <img src="../img/acer/not acer.png" alt="">

                            </div>
                            <div class="img-secundaria">
                                <img src="../img/not acer 2" alt="">
                                <img src="../img/not acer 3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="escritorio">
                        <div class="descripcion-producto">
                            <h2>Notebook Acer</h2>
                            <p>• Procesador: I5</p>
                            <p>• Memoria: 1Tb </p>
                            <p>• Precio: $$$$$$</p>
                        </div>

                        <div class="pagos">
                            <h5>Medios de pago</h5>
                            <img src="../img/mercado-pago-banner.png" alt="">
                        </div>

                        <div class="btn-producto">
                            <button>COMPRAR <i class="fas fa-cart-plus"></i> </button>
                        </div>
                    </div>

                </div>


            </main>

            <%- include ('./partials/footer.ejs') %>

    </body>

</html>