<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %>

    <body>
        <%- include ('./partials/header.ejs') %>
            <div class="formulario-registro">
                <h3> Registrate mediante</h3>
                <div class="social-login-elemento">
                    <div>
                        <img src="../img/google.svg" alt="">
                        <span>Google</span>
                    </div>
                    <div>
                        <img src="../img/facebook.svg" alt="">
                        <span>Facebook</span>
                    </div>
                </div>
                <p> O </p>
                <h3>Registro Manual</h3>
                <div id="form-datos">

                    <form class="formularioR">

                        <input type="name" placeholder="Nombre:">
                        <input type="name" placeholder="Apellido:">
                        <input type="email" placeholder="E-mail:">
                        <input type="password" placeholder="Contaseña:">
                        <input type="password" placeholder="Repertir Contaseña:">

                    </form>

                    <button class="btn-crea">Crea tu Cuenta</button>
                </div>

            </div>
            <%- include ('./partials/footer.ejs') %>
    </body>

</html>