<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %>

    <body>
        <%- include ('./partials/header.ejs') %>
        <div class="formularioCompletoL">
    <div class="container-all-centrado" >

        <div class="contenedor-text">

            <!-- <div id="social-login"> -->
            <h1>Iniciar Sesión con...</h1>
            <!-- </div> -->
            <div class="social-login-elemento">
                <div>
                    <a href="#"><img src="../img/google.svg" alt="">
                    <span>Google</span></a>
                </div>
                <div>
                    <a href="#"><img src="../img/facebook.svg" alt="">
                    <span>Facebook</span></a>
                </div>
            </div>
        </div>

        <div class="formularioL">

            <form action="/user/login" method="post" class="inputs-container" id="inputs-container">
                <p>O</p>

                <div class="formularioGrupo" id="grupo__email">
                    <div class="formularioGrupoInput">

                <input type="text"  class="formularioInput" name="email" id="email"  placeholder="E-mail">
                <% if (locals.errors && errors.email) { %>
                    <div class="error">
                        <%= errors.email.msg %> 
                    </div>
                <% } %>

                <i class="formularioValidacionEstado fas fa-times-circle"></i>
            </div>
            <p class="formularioInputError">Formato invalido</p>

          </div>


          <div class="formularioGrupo" id="grupo__password">
            <div class="formularioGrupoInput">
                <input type="password" class="formularioInput" name="password" id="password" placeholder="Contaseña">
                <i class="formularioValidacionEstado fas fa-times-circle"></i>
            </div>
            <p class="formularioInputError">La contraseña debe tener entre 8 y 15 caracteres</p>

          </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="remember_user" style= "width:15px">Recordar mi usuario
                    </label>
                </div>
                


                <button class="btn-login formularioGrupoBtn btn-crea formularioBtn">Login</button>
            </form>
        </div>
        <div class="columna">
            <a href="#">
                <p>¿Olvidaste tu contraseña? </p>
            </a>
            <!-- <button class="btn-click">Hace click aca</button> -->
        </div>
        <div class="columna">
            <a href="/user/register">
                <p>¿Aún no tenes cuenta? </p>
            </a>
            <!-- <button class="btn-crea-tu-cuenta"><a href='registro'>Crea tu cuenta</a></button> -->
        </div>
    </div>
</div>
<hr>
    <%- include ('./partials/footer.ejs') %>
    <script src="../js/userLoginForm.js"></script>
</body>

</html>